@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdownBtn {
    background-color: white;
    width: 30%;
    border: 1px solid black;
    padding: 4px 10px;
    border-radius: 5px;
    margin-bottom: 4px;

}