@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
	background-color: var(--red);
	height: 80px;
	font-size: 1.2rem;
	position: sticky;
	top: 0;
	z-index: 999;
	padding: 0 1rem;
}

.menu-icon {
	display: none;
}

.navbar-container {
	color: white;
	display: flex;
	justify-content: space-between;
    padding-right: 1rem;
	align-items:center;
	height: 80px;
	width: 100%;
}

.navbar ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	gap: 1rem;
}

.navbar-logo {
	color: white;
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    text-decoration: none;
    font-size: 2rem;
    margin-left: 1rem;
}



.nav-links {
	color: white;
	text-decoration: none;
	height: 100%;
	display: flex;
	padding: 0.25rem;
}

.secondNav ul {
    padding: 0;
	margin: 0 auto;
	list-style: none;
	display: flex;
    /* background-color: pink; */
    padding: 0.5rem;
    width: 60%;
    justify-content: space-around;
	/* gap: 1rem; */
    /* margin-right: 1rem; */
}

.secondNav .nav-links{
    color: black;
    font-size: 2rem;
    font-family: Source Serif Pro, serif;
}

.secondNav .active {
    border-bottom: 2px solid var(--green);
}

.secondNav hr {
    position: relative;
    top: -8px;
}

