@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-logo {
	color: white;
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    text-decoration: none;
    font-size: 2rem;
    margin-left: 1rem;
}

