@tailwind base;
@tailwind components;
@tailwind utilities;


.inlineBlock {
	display: inline-block;
	width: 25%;
}

#to {
	position: relative;
	left: -2%;
}


.datePickerBtn {
	background-color: white;
    width: 90%; 
    border: 1px solid black;
    padding: 4px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.calendarPopup {
	/* position: absolute; */
	display:inline-block;
}

