@tailwind base;
@tailwind components;
@tailwind utilities;


.inlineBlock {
	display: inline-block;
	width: 30%;
	/* margin-right: 5%; */
}

/* the container for the date picker */
.css-z3c6am-MuiFormControl-root-MuiTextField-root {
	height: 40px;
	/* 40px = h-10 in tailwind */
}
/* the inner part of the date picker */
.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
	height: 40px;
	background-color: white;
}

/* select drop down */
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
	/* the container for select box */
	/* color: red; */
	position: relative;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
	/* the label on top */
	position: relative;
	top: -0.5rem !important;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
	/* the text inside the label box */
	position: relative;
}



.calendarPopup {
	/* position: absolute; */
	display:inline-block;
}

