@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
}

:root {
	--tan: #bcb49e;
	--beige: #e4dac4;
	--teal: #1f4c4c;
	--green: #719f94;
	--blue: #182c4b;
	--red: #C41230;
}



.sign-up {
	color: #fff;
	font-size: 100px;
}

.searchCol {
	width: 40%;
}
.Calendar {
	width: 55%;
	margin-right: 3%;
}

.Calendar .calendar-body {
	grid-template-columns: repeat(7, minmax(40px, 1fr));
	grid-template-rows: 40px;
	grid-auto-rows: minmax(100px, auto);
}

.Calendar .day {
	margin-top: 0;
}
